# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# These options affect only the client that loads the mod.\nIf you are looking for keybinds, look for them in ichunutil_keybinds.cfg.
##########################################################################################################

clientonly {
    # The reason this is disabled by default is due to rendering issues that may occur due to some boss' unique models.
    # Good examples are the Minecraft's Ender Dragon, and TwilightForest's Naga and Hydra. [range: 0 ~ 1, default: 0]
    I:enableBossShatter=0

    # The reason this is disabled by default is due to rendering issues that occur due to the way Minecraft rescales children.
    # Shattering child mobs will show an adult model. [range: 0 ~ 1, default: 0]
    I:enableChildShatter=0

    # Enable Shatter on Players? [range: 0 ~ 1, default: 1]
    I:enablePlayerShatter=1
}


