# Configuration file

general {
    # Text color, that appears when you progress in Arcane level!
    # Valid values:
    # BLACK
    # DARK_BLUE
    # DARK_GREEN
    # DARK_AQUA
    # DARK_RED
    # DARK_PURPLE
    # GOLD
    # GRAY
    # DARK_GRAY
    # BLUE
    # GREEN
    # AQUA
    # RED
    # LIGHT_PURPLE
    # YELLOW
    # WHITE
    # OBFUSCATED
    # BOLD
    # STRIKETHROUGH
    # UNDERLINE
    # ITALIC
    # RESET
    S:"Arcane congrats color"=LIGHT_PURPLE
    B:"Casting circles"=true
    I:"Casting circles existence"=20
    D:"Casting circles offset"=0.0
    D:"Casting circles rotation"=3.0
    D:"Casting circles size(affects on every spellcast)"=4.0

    # If true - then you'll see spells like Light and Infinite Light for Healing element, and also Infinite one for Sorcery
    B:"Dupe Spells"=true

    # #DOESN'T WORK YET | If true - then you'll see spells to allow you have own Familiar, and ascend it's stats
    B:"Familiars Spells"=false

    # If you cast with Owned magic item, then it will say you how much mana you have! (look at Owning x and y)
    B:"Is Owned items alive?"=true

    # Magic Circles for Zettai Magic spells
    B:"Magic Circles for ZM"=true

    # Maximal height, that Magic Proj. could have (Shift+Click with bare hand)
    I:"Magic Projection max. height"=15

    # Maximal size, that Magic Proj. could have (Click with mana crystal)
    D:"Magic Projection max. size"=20.0

    # Minimal size, that Magic Proj. could have (Click with mana crystal)
    D:"Magic Projection min. size"=3.0

    # If true - then you'll see Epic spells in your Spells list, one for each element!
    B:"OP spells"=false

    # You want some MAGIC CIRCLES appearing on Summoning someone?(Beneath summon)
    B:"SUMMONING CIRCLES!!!!"=true

    # When other spellcaster's use magic, are they leave Magic Circle at bottom?
    B:"Spellcaster's Magic Circles"=true

    # If true - then you'll see THUNDER on casting this spell
    B:"Thunder Rage cause Thunder?"=true

    # You want some spells that could change weather? (Rain Begone, and Rain Approach)
    B:"Weather Spells"=true

    # If true - then you'll find Zettai loot in chests
    B:"Zettai Loot"=false

    ##########################################################################################################
    # owning x and y
    #--------------------------------------------------------------------------------------------------------#
    # The place, where owning will be
    ##########################################################################################################

    "owning x and y" {
        I:"X position of casting with Owning item"=10
        I:"Y position of casting with Owning item"=20
    }

    "spawn situations" {
        B:"Groups Fight"=false
        B:"Spawn Situations?"=false
        I:"Wiz. Groups Size"=5
        B:"Wizards Duels"=false
        B:"Wizards Groups"=true
    }

    "other entities" {
        I:"Wandering Traders Spawn"=3
    }

}


